@model BBMIS.Models.Derivation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Derivation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CarBuild.Mnemonic_Vehicle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarBuild.Mnemonic_Vehicle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fuel.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fuel.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Motor.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Motor.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DerivationID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
